@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../main/mixins.scss';
@import '../main/classes.scss';
.page1{
    @extend %max-width;
    background-image: url(../pics/back.jpg);
    @include back-position(fixed, center, cover);
    overflow: hidden;
    header{
        position: relative;
        @extend %max-width;
        .onav{
            transition: top 1s;
            @extend %ou-nav;
            .oulogo{
                height: $sizeLogo;
            }
            .second{
                a{
                    @extend %headera;
                }
                .ou-menu{
                    margin: auto;
                    .ou-item{
                        @include flex(space-between, middle, nowrap);
                        @extend %drop-item;
                        @extend %hovers;
                        img{
                            @extend %my-imgclass-head;
                        }
                    }
                }
            }
            .hamburger-menu {
                @extend %hamburger;
                div {
                    @extend %ham-divs;
                    transition: all 0.5s linear;
                }
                &.open {
                    .one {
                        transform: translate(-4px, 10px) rotate(405deg);
                    }
            
                    .two {
                        opacity: 0;
                    }
            
                    .three {
                        transform: translate(-4px, -10px) rotate(-405deg);
                    }
                }
            }
        }
    }//header end
    .video{
        video{
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
    .my-second-box{
        @extend %max-width;
        .carousel-item{
            height: 100vh;
            img{
                @include static-pic(cover, 0px, 100%, 100%);
            }
        }
    }
    .my-third-box{
        background-color: $dark;
        h2{
            @extend %jumbotitle;
        }
        .my-in{
            background-color: grey;
            &:hover{
                background-color: $dark;
                transition: linear 0.5s;
                .text{
                    color: whitesmoke;
                }
            }
            .image-left{
                img{
                    width: 100%;
                    height: 640px;
                    object-fit: cover;
                }
            }
            .text{
                color: black;
                .choose{
                    @include flex(space-around, middle, nowrap);
                    .choice{
                        text-align: center;
                        img{
                            @include static-pic(cover, 7px, 100px, 100px);
                            &:hover{
                                @include static-pic(cover, 20px, 150px, 150px);
                                transition: linear 0.8s;
                            }
                        }
    
                    }
                }
            }
        }
    }
}