@import './variables.scss';
%max-width{
    max-width: $max-width;
    margin: 0px auto;
}
%ou-nav{
    border-radius: 0 0 $picradius $picradius;
    padding: 0px 20px;
    width: 100%;
    box-shadow: 5px 5px 5px;
}
%my-box-2{
    max-width: $max-width;
    padding: 0 $picradius05;
    border-radius: 50px;
}
%headera{
    color: white;
    font-size: large;
    font-weight: bolder;
    letter-spacing: 5px;
    width: $Awidth;
}
%my-imgclass-head{
    max-height: $minilogo;
    max-width: $minilogo;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
%drop-item{
    background-color: #343a40;
    color: white;
    font-size: large;
    font-weight: bolder;
    letter-spacing: 5px;
    min-width: $navbutt;
    padding: 15px 13px;
    margin: 5px auto;
}
%hovers{
    &:hover{
        background-color: grey;
    }
}
%hamburger{
    width: $minilogo;
    height: 40px;
    background-color: $warning;
    cursor: pointer;
}
%ham-divs{
    background-color: white;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    margin: 5px auto;
}
%jumbotitle{
    background-color:$dark;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 15px;
    font-weight: bolder;
    font-size: 72px;
}