@mixin back-position ($attach, $position, $size) {
    background-attachment: $attach;
    background-repeat: no-repeat;
    background-position: $position;
    background-size: $size;
}
@mixin flex($justify, $vertical, $wrapping){
    display: flex;
    justify-content: $justify;
    vertical-align: $vertical;
    align-items: center;
    flex-wrap: $wrapping;
}
@mixin static-pic($fit, $bradius, $mheight, $mwidth){
    border-radius: $bradius;
    height: $mheight;
    width: $mwidth;
    margin: 0 auto;
    object-fit: $fit;
}
@mixin anime-pos($height, $right, $top,) {
    height: $height;
    position: absolute;
    right: $right;
    top: $top;
}
@keyframes slide-in {
    from{
        right: -150px;
    }
    50%{
        right: 30px;
    }
    100%{
        right: 100%;
    }
}