// header size vars
$max-width: 1920px;
$view: 100vh;
$navbutt: 300px;
$sizeLogo: 100px;
$minilogo: 50px;
$Awidth: 160px;

// picture size vars
$picradius: 25px;
$picradius05: 50px;
// $picH007: 700px;
// $picW0014: 1400px;
$max-height: 100vh;

// colors
$white: whitesmoke